:root {
  --primary-dark: #334155;
  --primary-light: #e2e8f0;
  --primary-teal: #14b8a6;
  --secondary-teal: #0f766e;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  font-family: 'Black Ops One', cursive;
  font-size: 1.6rem;
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

.header {
  font-size: 3.8rem;
  color: var(--primary-dark);
  text-align: center;
  text-shadow: 4px 4px var(--primary-teal);
  padding: 18rem 0 6rem 0;
}

.game {
  display: flex;
  justify-content: center;
}

.start-screen {
  transition: all 0.4s ease-in-out;
}

.btn {
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1.2rem 2.6rem;
  color: var(--primary-light);
  background: linear-gradient(
    to left,
    var(--primary-dark),
    var(--primary-teal)
  );
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 0.4s ease-in-out;
}

.btn-start {
  display: flex;
  opacity: 1;
}

.game-mode-buttons {
  display: none;
  justify-content: center;
  gap: 18px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.btn-pve {
  background: var(--primary-teal);
}

.btn-pvp {
  background: var(--primary-dark);
}

.players {
  text-align: center;
  display: none;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputs {
  display: flex;
  gap: 18px;
}

.player {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.player > label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.player > input {
  text-align: center;
  font-family: inherit;
  font-size: 1.4rem;
  color: var(--primary-dark);
  padding: 10px;
  border: 2px solid var(--primary-teal);
  border-radius: 4px;
  outline: none;
  background: transparent;
}

.btn-submit {
  margin-top: 1rem;
}

.game-screen {
  display: none;
  flex-direction: column;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  background-color: var(--primary-light);
}

.field {
  color: var(--primary-light);
  background-color: var(--primary-teal);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.field:hover {
  background-color: var(--secondary-teal);
}
